body {
    display: flex;
    flex-direction: column;
}

.cv-container {
    height: 75vh;
    max-width: 30vw;
    border: 1px solid black;
}

.general-info-container {
    height: 25%;
    border: 1px solid green;
}

.education-info-container {
    height: 25%;
    border: 1px solid red;
}

.experience-info-container {
    height: 25%;
    border: 1px solid blue;
}